
.portfolio-row {
    filter: grayscale(100%);
    border-bottom: 2px solid #838383;
    transition: filter 1s, border 1s;
}

.portfolio-row:hover {
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
    cursor: pointer;
    border-bottom: 2px solid indigo;
}

@media(min-width: 977px) {
    .portfolio a {
        display: block;
        margin-bottom: var(--basic-padding);
    }
    .portfolio-row {
        display: flex;
        justify-content: space-between;
        background-color: white;
    }
    .portfolio-row:last-of-type {
        margin-bottom: 0;
    }
    .portfolio-row div {
        flex-basis: 50%;
    }
    .portfolio-row .description {
        padding: 1em;
    }
}


@media(max-width: 976px) {
    .portfolio {
        margin-top: 2em;
    }
    .portfolio-row {
        background-color: white;
        margin-bottom: 2em;
    }
    .portfolio-row .description {
        padding: 1em;
        background-color: #fff;

    }
}