

.item-box {
    position: relative;
    display: flex;
    border-bottom: 2px solid #838383;
}

.three-item-list .item {
    flex-grow: 1;
    box-shadow: #e4e4e4 0 8px 24px;
    padding: 65px 20px 20px 20px;
}

.three-item-list hr {
    width: 50%;
}

.time-box {
    display: flex;
    margin-bottom: 0;
}

.time-box-inner {
    position: relative;
}
.fade {
    background-color: #e9e9e9;
    border: 2px solid;
    border-radius: .25em;
    font: inherit;
    padding: .5em 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    transition: background-color 2s, border 2s;
}

.fade:hover {
    background-color: lavender;
    border: 2px solid indigo;
    cursor: pointer;
}

.time-box-inner a {
    display: block;
}

.time-box-inner h4 {
    display: inline-block;
}

.time-box-inner .title {
    margin-bottom: 0;
}