

.box-item {
    position: relative;
    display: flex;
    background-color: lavender;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    border-bottom: 2px solid #838383;
    transition: filter 1s, border 1s;
}

.box-item:hover {
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
    cursor: pointer;
    border-bottom: 2px solid indigo;
}
.box-item:hover .hexBadgeTop {
    border-bottom: solid 30px indigo;
    opacity: .9;
}
.box-item:hover .hexBadgeMiddle {
    background-color: indigo;
    opacity: .9;
}
.box-item:hover .hexBadgeBottom {
    border-top: solid 30px indigo;
    opacity: .9;
}
.three-item-list .item {
    flex-grow: 1;
    box-shadow: #e4e4e4 0 8px 24px;
    padding: 65px 20px 20px 20px;
}

.three-item-list hr {
    width: 50%;
}

.time-box {
    display: flex;
    margin-bottom: 0;
}

.time-box-inner {
    position: relative;
}
.fade {
    background-color: #e9e9e9;
    border-bottom: 2px solid #838383;
    font: inherit;
    padding: .5em 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    transition: background-color 1s, border 1s;
}

.fade:hover {
    background-color: lavender;
    border-bottom: 2px solid indigo;
    cursor: pointer;
}

.time-box-inner a {
    display: block;
}

.time-box-inner h4 {
    display: inline-block;
}

.time-box-inner .title {
    margin-bottom: 0;
}