.hexBadge {
    position: absolute;
    left: 0; 
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 104px; 
    /* positioning absolute elements center is weird. I don't know why this width works. */
    top: -55px;
}

.hexBadgeTop {
    width: 0px;
    border-bottom: solid 30px var(--dark-gray);
    border-left: solid 52px transparent;
    border-right: solid 52px transparent;
    transition: border-bottom 1.5s;
}
.hexBadgeMiddle {
    width: 104px;
    height: 60px;
    background-color: var(--dark-gray);
    text-align: center;
    transition: background-color 1.5s;
}
.hexBadgeMiddle i {
    color: white;
}
.hexBadgeBottom {
    width: 0px;
    border-top: solid 30px var(--dark-gray);
    border-left: solid 52px transparent;
    border-right: solid 52px transparent;
    transition: border-top 1.5s;
}