.profile {
    min-height: 250px;
    padding: 25px;
    text-align: center;
}

.author-img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lavender;
    background-image: url('../images/profile.jpg');
}

.author-des h3 {
    margin-bottom: 9px;
}

.author-des, .nav-section, .credit-section {
    padding-top: 5px;
    padding-bottom: 5px;
}


.sidebar nav a, .sidebar .social a, .sidebar a {
    text-decoration: none;
    color: #838383;
}

.social a:hover {
    text-decoration: underline;
}

.social ul {
    padding: 0;
}

.social li {
    list-style: none;
    padding: 5px;
}

nav a:hover {
    text-decoration: underline;
}

.nav-link {
    padding: 5px;
}