@import url('./css/app.css');
@import url('./css/bar.css');
@import url('./css/hexBadge.css');
@import url('./css/introduction.css');
@import url('./css/portfolio.css');
@import url('./css/sidebar.css');
:root {
  --dark-gray: #838383;
  --basic-padding: 35px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
